@import './variables/base.scss';
// @import './variables/light-variables.scss';
@import './article.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body,
body[data-theme="light"] {
  --background-color: #f2f2f2;
  --background-color-ultra-light: #fff;
  --foreground-color-dark: #222;
  --foreground-color-light: #4f4f4f;
  --foreground-color-ultra-light: #888;

  --disabled-background: #1d222d;
  --disabled-color: #1d222d;

  --link-color: #C00297;
  --link-color-hover: #DF00AE;

  --header-color: #222;

  --highlight-color: #EAE105;

  --highlight-color-bright: #c8c51b;
  --highlight-color-faded: rgba(234,225,5,0.75);

  --form-accent-color: #0061bbd9;

  --layered-background-teal: rgb(5 234 196 / 85%);
  --layered-background-magenta: rgba(234, 5, 126, 0.85);

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

body[data-theme="dark"] {
  --background-color: #141820;
  --background-color-ultra-light: #1d222d;
  --foreground-color-dark: #97a0b1;
  --foreground-color-light: #c0cff0;
  --foreground-color-ultra-light: #181c24;

  --disabled-background: #141820;
  --disabled-color: #405278;


  --link-color: #C00297;
  --link-color-hover: #DF00AE;

  --header-color: #141820;

  --highlight-color: #EAE105;

  --highlight-color-bright: #f4ef07;
  --highlight-color-faded: rgba(234,225,5,0.75);

  --form-accent-color: #5bcee4d9;

  --layered-background-teal: #00715ed9;
  --layered-background-magenta: rgba(234, 5, 126, 0.85);

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--foreground-color-dark);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  line-height: 2rem;
}

.heading_large {
  font-size: 4rem;
  line-height: 6rem;
}

.heading_small {
  font-size: 1rem;
}


a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

blockquote {
  margin: 2rem 0.5rem;
  padding: 0.25rem 2rem;
  background: var(--background-color-ultra-light);
  border-left: 4px double var(--foreground-color-ultra-light);
}

hr {
  margin: 3rem 0;
  border: 1px dotted var(--foreground-color-ultra-light);
  border-bottom: 0;
}

.alignCenter {
  text-align: center;
}

.hidden {
  display: none;
}

.sources_section_wrapper {
  position: relative;
  z-index: 1;
  max-width: $max-single-article-width;
  margin: 0 auto;
  padding: 0 2rem 5rem; 
  background: var(--background-color);
  border-top: 1px solid var(--foreground-color-light);
  h3, ul {
    max-width: $max-single-article-width;
    margin: 0 auto;
  }
  h3 {
    padding: 2rem 0 1rem;
  }
  ul {
    padding: 0;
    list-style: none;
  }
}


ul.post_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    flex: 1 1 50%;
    border-right: 1px dashed var(--foreground-color-ultra-light);
    // border-bottom: 1px dashed var(--foreground-color-ultra-light);
    &.last-item {
      article.-list {
        margin: 0 auto;
      }
      article.-list.-even {
        margin-left: 0;
      }
    }
  }
  li:first-child {
    flex: 1 1 100%;
    border-right: 0;
    background-position: center center;
  }
}

.background_image {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

