.modeButton {
  position: fixed;
  bottom: 0.7rem;
  left: 1rem;
  z-index: 5;
  width: 3.5rem;
  height: 3.5rem;
  background: transparent;
  border: 0;
  transition: 0.25s;
  svg {
    fill: var(--foreground-color-dark);
    .Sun, .Moon, .Land {
      transition: 0.25s;
    }
  }
  &.lightTheme {
    svg {
      .Sun {
        transform: translate(0, 0);
      }
      .Moon {
        transform: translate(-2px, 47px);
      }
      .Land {
        transform: translate(0, 0);
      }
    }
  }
  &.darkTheme {
    // transform: rotate(180deg);
    svg {
      .Sun {
        transform: translate(20px, 60px);
      }
      .Moon {
        transform: translate(-18px, 2px);
      }
      .Land {
        transform: translate(0, 0);
      }
    }
  }
}